@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mochiy+Pop+One&display=swap");

::-webkit-scrollbar {
	display: none;
	/* Safari and Chrome */
}

body {
	/* Optional: Hide scrollbar for Firefox */
	scrollbar-width: none;
	transition: all;
	transition-duration: 700ms;
}

* {
	box-sizing: content-box;
}
