.bannerIcon {
	transition: all;
	transition-duration: 700ms;
}

.bannerIcon:hover {
	scale: 1.2;
}

.skillIcon {
	transition: all, fill, color;
	transition-duration: 1s;
}

.skillIcon:hover {
	scale: 5;
}

body:has(.skillIcon:hover) {
	background-color: black;
}
.workCard {
	transition: box-shadow 0.8s;
}
.workCard:hover {
	box-shadow:
		rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.activeTab {
	animation: tab-ani 0.3s ease-in 0s 1 forwards;
}

@keyframes tab-ani {
	0% {
		opacity: 0;
		filter: blur(10px);
	}

	100% {
		opacity: 1;
		filter: blur(0px);
	}
}

/* layout */
@media screen and (max-width: 950px) {
	.innerContainer {
		margin: auto;
	}
	.innerContainer > a > p {
		display: none;
	}
	.innerContainer ~ button {
		width: 6rem;
		height: 0.4rem;
		font-size: 0.7rem;
	}
	.innerContainer ~ button > svg {
		display: none;
	}
}
@media screen and (max-width: 450px) and (min-width: 395px) {
	.innerContainer ~ button {
		display: none;
	}
}
@media screen and (max-width: 450px) {
	.innerContainer ~ button {
		margin: auto;
		margin-top: 10px;
		text-align: center;
	}
}
/* layout ended */
